<div id="dashboardArea" class="wrap">
    <div class="header">Dashboards
        <div class="small-header pull-right">| New Dashboard |</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="dashButton text-center">
                <img src="/images/icon_dash_large.png" /> <br />
                Frontend
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashButton text-center">
                <img src="/images/icon_dash_large.png" /> <br />
                Backend
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashButton text-center">
                <img src="/images/icon_dash_large.png" /> <br />
                Services
            </div>
        </div>
    </div>
    <div class="humongousMarginTop"></div>
    DASHBOARDS
    <div class="humongousMarginTop"></div>
</div>
