
<div class="input-group">
    <input data-format="dd/MM/yyyy hh:mm:ss" type="text" class="form-control" />
    <span class="input-group-addon" id="basic-addon2">
        <span class="add-on">
          <i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar"></i>
        </span>
    </span>
</div>


